.cartImg{
    width: 4em;
}
.cartFlex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.cartWidLink {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    padding: 0.5em;
    text-decoration: none;
    color: #000;
}