.imgSize{
    width: 50%;
    padding: 10px;
}

.mainItem{
    border: solid 1px #544024;
    width: 30vh;
    height: 50vh;
    border-radius: 20px;
    margin: 0.5em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.25em;
}

.itemPicture{
    width: 50%;
}

.btnDetail{
    margin: 0.5em;
    width: 15vh;
    height: 2em;
    border: 0;
    border-radius: 20px;
    background: #C1A01E;
    box-sizing: border-box;
    cursor: pointer;
    
}

.btnDetailText{
    color: #000;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;    
}

h3, h4 {
    margin: 0;
}
