.modal {
    position: fixed;
    z-index: 999;
    top:0;
    left:0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0,0,0,0.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.isOpen{
    display: flex;
}

.modalConteiner{
    position: relative;
    padding: 1em;
    background-color: #fff;
    min-width: 300px;
    max-width: 500px;
    min-height: 300px;
    max-height: 500px;
    overflow-y: auto;
    border-radius: 10px;
}  

.modalExit{
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 0.75em;
    font-weight: 800;
    background-color: #f00;
    color: #fff;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
}
